<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @task.active %>
</p>

<p>
  <strong>Score:</strong>
  <%= @task.score %>
</p>

<%= link_to 'Edit', edit_user_task_path(@task) %> |
<%= link_to 'Back', user_tasks_path %>
