<p id="notice"><%= notice %></p>

<h1>Work Periods</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_periods.each do |work_period| %>
      <tr>
        <td><%= link_to 'Show', work_period %></td>
        <td><%= link_to 'Edit', edit_work_period_path(work_period) %></td>
        <td><%= link_to 'Destroy', work_period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work Period', new_work_period_path %>
